/****** mixins ******/

@mixin progressbar {
    text-align: left;
    padding: 3px 20px;
    background: #93B4AD;
    //text-transform: uppercase; 
    font-weight: bold;
}

@mixin inputbox {
    height: 40px;
    width: 95%;
    margin: 10px;
}

/****** fonts ******/

$main-font: 'Josefin Sans', sans-serif;
$paragraph: 'Titillium Web', sans-serif;


/****** color scheme ******/

$primary-color: #042c3c;
$secondary-color: #BD4457;
$tertiary-color: #af0;
$base: #fff;
$pop: #000;


body {
    background-color: #fff;//#F7F3F4;
    p {
        color: #000;
        font-size: 26px;
        font-family: $paragraph;
    }
}

.intro {
    background-color: #fff;
    background-size: cover;
}

/* .title {
    border: 2px solid #000;
    padding-bottom: 20px;
    border-radius: 4px;
} */
.content-section {
    padding-top: 120px;
}

.visuals-section {
    padding-top: 20px;
    p {
    font-size: 10px;
    font-style: italic;
    }
}

h1,
h2,
h3,
h4,
h5 {
    color: $pop;
    font-family: $main-font;
}

.navbar a {
    color: #000;
    font-family: $main-font;
    font-size: 16px;
    font-weight: bold;
    margin: 2px;
}
.nav-width {
    width: 100%;
}
.navbar-custom .nav li.active {
    color: $pop;
    // border-bottom: 2px solid #000;
}

.navbar-custom .nav li.active a:hover {
    font-weight: bold;
    color: $pop;
}

.navbar-custom .nav li a:hover {
    color: $secondary-color;
} 

.navbar.navbar-custom.navbar-fixed-top.top-nav-collapse {
    background-color: #fff; //#F7F3F4;
}

.navbar-header {
    background-color: #000;
}

h2 {
    font-family: $main-font;
}

.subcat {
    padding-top: 10px;
    font-size: 22px;
}

.section {
    background-color: $pop;
}

.btn-default {
    background-color: $secondary-color;
    color: #fff;
    border-radius: none;
    box-shadow: 2px 2px #bbb;
}

.btn-default:hover, .btn-default:focus {
    // border: 1px solid $secondary-color;
    outline: 0 none;
    color: $base;
    background-color: #FF0051;
}

.btn-circle {
    color: $pop;
}

.btn-circle:hover {
    color: $secondary-color;
}

.btn {
    transition: all .3s ease-in-out 0s;
}

.strap-line {
    text-transform: none;
    margin-bottom: none;
}

.intro-text {
    color: $pop;
}

.second-row {
    margin-top: 10px;
}

.content-section p {
    font-size: 20px
}

.still > p {
    padding-top: 5px;
    
}

.project {
    margin: 25px auto 10px auto;
}

.still p {
    font-size: 16px;
}

#progress {
    font-family: sans-serif;
    span {
        color: $pop;
    }
}

.progress-bar {
    border: 3px solid $pop;
    height: 30px;
    width: 350px;
    border-radius: 15px;
    margin: 20px auto;
    overflow: hidden;
    background-color: #eee;
}

#progress-1,
#progress-2,
#progress-3,
#progress-4,
#progress-5,
#progress-6,
#progress-7,
#progress-8,
#progress-9 {
    @include progressbar;
}

.form-left {
    float: right;
}

#contact {
    background: $primary-color;
    color: $pop;
    padding: 20px;
    li {
        list-style-type: none;
    }
    h2,
    p {
        color: $base;
    }
}

.field {
    @include inputbox;
    padding: 10px;
    border: none;
    margin: 10px 0;
    [placeholder] {
        font-style: italic;
    }
}

textarea {
    width: 100%;
    min-height: 142px
}

.submit {
    background-color: $secondary-color;
    border: none;
    height: 40px;
    width: 100px;
    float: right;
    margin: 20px 0;
    font-family: $main-font;
    text-transform: uppercase;
    font-weight: bold; 
    color: #fff;
    &:hover {
        background-color: #FF0051;
        transition: background-color .4s ease-in-out .2s;
    }
}

.copyright p {
    font-size: 12px;
    color: $base;
}

.logo {
    width: 100px;
    opacity: .8;
    margin-bottom: 15px;
}

footer {
    padding: 10px;
}

.site-footer {
    background-color: $primary-color;
    color: $base;
    margin: auto auto;
}

.form-control {
    border-radius: 0;
}

#message div {
    padding: 0;
}

/* @media screen and (max-width: 500px) {
    .intro .intro-body .brand-heading {
    font-size: 80px;
    }
} */