/************************
GENERAL
************************/

body {
    font-family: 'Raleway', sans-serif;
}

/************************
NAVIGATION
************************/

.nav {
    font-family: 'Oxygen', sans-serif;
}



/************************
PAGES
************************/

.projects {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (min-width: 768px) {
    .mail {
        margin-left: 16.66666667%;
    }
    
    .col-lg-4 {
        width: 33.33333333%;
        float: left;
    }
}

.contact-icon {
    padding-top: 15px;
    padding-bottom: 15px;
}

/************************
HEADING
************************/

h1, h2 {
    font-family: 'Oxygen', sans-serif;
}

header {
    background-image: url(http://placekitten.com/g/200/300);
}

h2 {
    font-size: 60px;
}
    
    
/************************
COLOURS
************************/

a .navbar-brand {
    color: #000000;
}

.bg-primary {
    background-color: #A6989C;
}

.navbar-default.affix .navbar-header .navbar-brand {
    color: #700808;
}

.btn-primary {
    border-color: #A6989C;
    background-color: #A6989C;
}
/************************
FOOTER
************************/

footer p {
    text-align: center;
    padding: 15px;
}