body {
    background-color: #fff;
    color: #000;
}

.intro {
    background: url(../img/deskHeader.jpg);
    background-size: cover;
}

.content-section {
    padding-top: 190px;
}

h1,
h2,
h3,
h4,
h5 {
    color: #000;
}

.subcat {
    padding-top: 10px;
}

.section {
    background-color: #000;
}

.btn-default {
    border: 1px solid #E61EC0;
    color: #E61EC0;
}

.btn-default:hover, .btn-default:focus {
    border: 1px solid #E61EC0;
    outline: 0 none;
    color: #000;
    background-color: #E61EC0;
}

a {
    color: #fff;
}

.strap-line {
    text-transform: none;
    margin-bottom: none;
}

